#owl-demo .item{
  height:336px;
  background: #ffffff;
  padding: 5px;
  display: block;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}